/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

.page.theme_light {
  /* GENERAL STYLES */
  --rec-title-visibility: hidden;
  --for-white-style-p: var(--color-pink-background-white-style, #FF8DCB);
  --side-stripes: var(--color-black-light-dark-style, #353430);
  --text-color: var(--color-black-light-white-style,  #353430); 
  --title-color: var(--color-pink-title-white-style, #FFC2E6); 
  --button-color: var(--color-black-light-white-style, #353430);
  --high-black-color: var(--color-black-light-white-style, #353430);
  --accent-two-color: var(--color-pink-background-dark-style, #FF8DCB); 
  --color-btn-secondary: var(--color-button-secondary-white-style, #35343040);
  --color-btn-paragraph: var(--color-btn-for-text-white-style, #353430);
  --background-color: var(--color-black-light-white-style, #353430);
  --paragraph-color: var(--color-black-light-dark-style, #353430);
  --background-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
  --rec-title-visibility: hidden;
  --for-white-style-p: var(--color-pink-background-white-style, #FF8DCB);
  --side-stripes: var(--color-black-light-dark-style, #353430);
  --text-color: var(--color-black-light-white-style,  #353430); 
  --title-color: var(--color-pink-title-white-style, #FFC2E6); 
  --button-color: var(--color-black-light-white-style, #353430);
  --high-black-color: var(--color-black-light-white-style, #353430);
  --accent-two-color: var(--color-pink-background-dark-style, #FF8DCB); 
  --color-btn-secondary: var(--color-button-secondary-white-style, #35343040);
  --color-btn-paragraph: var(--color-btn-for-text-white-style, #353430);
  --background-color: var(--color-black-light-white-style, #353430);
  --paragraph-color: var(--color-black-light-dark-style, #353430);
  --background-image: url("../images/cover-image-light.png");
  }
}
