/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* DARK STYLE*/
  --color-pink-beige-dark-style : #F1B2CE;
  --color-black-dark-dark-style: #000028;
  --color-red-basic-dark-style: #FF0070;
  --color-purple-dark-style: #DB00FF;
  --color-button-secondary-dark-style: #FF007040;
  --color-btn-for-text-dark-style: #F1B2CE;
  /* WHITE STYLE*/
  --color-black-light-white-style: #353430;
  --color-pink-title-white-style: #FFC2E6;
  --color-pink-background-white-style: #FF8DCB;
  --color-button-secondary-white-style: #35343040;
  --color-btn-for-text-white-style: #353430;
  /* GENERAL STYLES */
  --rec-title-visibility: visible;
  --for-white-style-p: var(--color-red-basic-dark-style, #FF0070);
  --side-stripes: var(--color-red-basic-dark-style, #FF0070);
  --text-color: var(--color-pink-beige-dark-style, #F1B2CE);
  --title-color: var(--color-purple-dark-style, #DB00FF);
  --button-color: var(--color-red-basic-dark-style, #FF0070);
  --high-black-color: var(--color-black-dark-dark-style, #000028);
  --accent-two-color: var(--color-red-basic-dark-style, #FF0070);
  --color-btn-secondary: var(--color-button-secondary-dark-style, #FF007040);
  --color-btn-paragraph: var(--color-btn-for-text-dark-style, #F1B2CE);
  --background-color: var(--color-black-dark-dark-style, #000028);
  --paragraph-color: var(--color-pink-beige-dark-style, #F1B2CE);
  --background-image: url("../images/cover-image.png");
}
